body,html {background: #F8F8F8; min-width: 1200px; color: #202020;}

html.scrollLock {overflow: hidden;}



html::-webkit-scrollbar {display: none;}

html {-ms-overflow-style: none; scrollbar-width: none;}



button img {width: 100%;}



input[type="radio"], input[type="checkbox"] {appearance: none; border: none; background: transparent no-repeat center center / 100% 100%;}



input[type="checkbox"].ckbox {background-image: url("../img/ckbox.png"); width: 30px; height: 30px;}

input[type="checkbox"].ckbox:checked {background-image: url("../img/ckbox_on.png");}



input[type="radio"].radio {background-image: url("../img/radio.png"); width: 24px; height: 24px;}

input[type="radio"].radio:checked {background-image: url("../img/radio_on.png");}



input[type="radio"].radio_bk {background-image: url("../img/radio_bk.png"); width: 24px; height: 24px;}

input[type="radio"].radio_bk:checked {background-image: url("../img/radio_bk_on.png");}



.suite {font-family: 'SUITE-Regular', sans-serif;}

.inner1200 {width: 1200px; margin: 0 auto; font-size: 0; min-height: 972px;}

.inner920 {width: 920px; margin: 0 auto; font-size: 0;}

.inner520 {width: 520px; margin: 0 auto; font-size: 0;}

.footer .inner1200 {min-height: inherit;}

.vt_mid {display: inline-block; vertical-align: middle;}

.vt_bot {display: inline-block; vertical-align: bottom;}

.vt_top {display: inline-block; vertical-align: top;}

.grid {width: 100%; height: 100%; display: grid; justify-items: center; align-content: center; justify-content: center; align-items: center;}

.bold {font-weight: 600;}

.block {display: block;}

.tab {display: none;}

.tab.on {display: block;}



.select {appearance: none; height: 40px; padding: 0 10px; box-sizing: border-box; color: #808080; background: url("../img/select_down.png") no-repeat center right / 28px;}

.select.black {color: #202020; font-weight: 600;}





/* 왼쪽메뉴(헤더) */

.left_menu {width: 250px; background: #606060; height: 100%; min-height: 972px; position: relative; display: inline-block; vertical-align: top;}

.left_menu .logo_area {width: 100%; height: 190px; background: #fff;}

.left_menu .logo_area img {width: 100%;}



.left_menu .nav {width: 100%; margin-bottom: 20px;}

.left_menu .nav .nav_a {display: block; background: #404040; position: relative;}

.left_menu .nav .nav_a::before {content: ""; display: block; width: 100%; height: 1px; background: rgba(255,255,255,0.2); position: absolute; top: 0; left: 0;}

.left_menu .nav .nav_a::after {content: ""; display: block; width: 100%; height: 1px; background: rgba(0,0,0,0.2); position: absolute; bottom: 0; left: 0;}

.left_menu .nav .nav_a.on {background: #005288;}

.left_menu .nav .nav_a .menu {display: inline-block; font-size: 18px; font-weight: 600; color: #fff; width: calc(100% - 50px); padding-left: 20px; box-sizing: border-box;}

.left_menu .nav .nav_a .arrow {width: 50px;}



.left_menu .white_box {width: 210px; padding: 20px; box-sizing: border-box; background: #FFFFFF; margin: 0 auto; text-align: center;}

.left_menu .white_box .wb_top {font-size: 18px; font-weight: 600; margin-bottom: 10px;}

.left_menu .white_box .wb_price {font-size: 18px; font-weight: 600; margin-bottom: 22px;}

.left_menu .white_box .wb_price .price {color: #005288; font-size: 24px; font-weight: 600;}

.left_menu .white_box .wb_end {margin-bottom: 20px;}

.left_menu .white_box .wb_end .end_left {width: 54px; font-size: 18px; font-weight: 600;}

.left_menu .white_box .wb_end .end_right {width: calc(100% - 54px); font-size: 18px; font-weight: 600; color: #005288; text-align: right;}



.left_menu .white_box .wb_btnarea {width: 100%;}

.left_menu .white_box .wb_btnarea .inq_btn {width: 100%; height: 40px; background: #005288; color: #fff; font-size: 18px; font-weight: 600;}



.left_menu .fixed {position: absolute; bottom: 0; left: 0; width: 100%; padding:0 20px 10px; box-sizing: border-box;}

.left_menu .fixed .logout_btn {width: 100%; height: 50px; background: #B2B2B2; font-size: 18px; font-weight: 600; color: #fff;}

.left_menu .fixed .copy {margin-top: 30px; text-align: center;}

.left_menu .fixed .copy img {width: 10px;}

.left_menu .fixed .copy .copytxt {font-size: 10px; font-weight: 500; color: #B2B2B2; margin-left: 2px;}





/* 푸터 */

.footer {background: #505050; padding: 14px 0; box-sizing: border-box;}

.footer .f_left {width: 120px;}

.footer .f_left img {width: 100%;}

.footer .f_cen {padding-left: 30px; box-sizing: border-box; width: calc(100% - 370px);}

.footer .f_cen .mb10 {margin-bottom: 10px;}

.footer .f_cen .mb10:last-child {margin-bottom: 0;}

.footer .f_cen .mr30 {margin-right: 30px; font-size: 12px; color: #C0C0C0; display: inline-block;}

.footer .f_cen .mr30:last-child {margin-right: 0;}

.footer .f_right {text-align: right; width: 250px;}

.footer .f_right .term_a {color: #FFFFFF; display: inline-block; font-size: 14px; font-weight: 600; padding: 10px 20px; box-sizing: border-box; position: relative;}

.footer .f_right .term_a:first-child:after {content: ""; display: inline-block; width: 2px; height: 10px; background: rgba(192,192,192,0.27); position: absolute; right: 0; top: 50%; transform: translateY(-50%);}





/* 팝업 */

.pop {width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 20; display: none; min-width: 1200px;}

.pop.on {display: block;}

.pop .black_bg {width: 100%; height: 100%; background: rgba(0,0,0,0.75);}

.pop .white_bg {background: #FFFFFF; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; box-sizing: border-box; border-radius: 12px; font-size: 0; width: 400px;}

.pop .top_area {margin-bottom: 20px; text-align: right;}

.pop .top_area .close_btn {width: 40px;}

.pop .txt_area {margin-bottom: 60px; text-align: center;}

.pop .p_h1 {margin-bottom: 10px; font-size: 24px; font-weight: 600;}

.pop .p_sub {font-size: 14px; font-weight: 300;}

.pop .p_blue {font-size: 14px; font-weight: 300; color: #005288; margin-top: 20px; display: none;}

.pop .p_blue.on {display: block;}

.p_btn_area .p_btn {width: 100%; background: #005288; font-size: 14px; color: #fff; font-weight: 600; height: 44px;}

.p_btn_area .p_btns {width: calc((100% - 4px) / 2); margin-right: 4px; font-size: 14px; font-weight: 600; border: 1px solid #202020; height: 44px; box-sizing: border-box;}

.p_btn_area .p_btns.btn2 {margin-right: 0; border-color: #005288; background: #005288; color: #fff;}







.right_ct {width: calc(100% - 250px); display: inline-block; vertical-align: top; padding: 60px 0 60px 30px; box-sizing: border-box;}



.black_form {background: #404040; border-radius: 12px; padding: 30px; box-sizing: border-box; margin-bottom: 30px;}

.black_form .bf_left {width: calc(100% - 150px); white-space: nowrap;}

.black_form .bf_left .bf_wrap {margin-right: 30px;}

.black_form .bf_left .bf_wrap:last-child {margin-right: 0;}

.black_form .bf_left .bf_wrap .bf_lab {font-size: 14px; font-weight: 600; color: #fff; margin-right: 20px;}

.black_form .bf_left .bf_wrap .input {width: 150px; height: 40px; padding: 0 10px; box-sizing: border-box; font-size: 14px;}

.black_form .bf_left .bf_wrap .input.wid130 {width: 130px;}

.black_form .bf_right {width: 150px;}

.black_form .bf_left .bf_wrap .input::placeholder {font-size: 14px;}

.black_form .bf_right .blue_btn {width: 100%; height: 42px; color: #fff; font-size: 18px; font-weight: 300; color: #fff; background: #005288;}



.contents {background: #fff; border-radius: 12px; padding: 30px 30px 60px; box-sizing: border-box; box-shadow: 0 2px 6px rgba(0,0,0,0.16);}

.contents .block {margin-bottom: 60px;}

.contents .block:last-child {margin-bottom: 0;}

.contents .block .h1 {margin-bottom: 30px; font-size: 24px; font-weight: 600;}

.contents .block .cont .group_area {margin-bottom: 60px;}

.contents .block .cont .group_area .gp_block {margin-bottom: 30px;}

.contents .block .cont .group_area .gp_block:last-child {margin-bottom: 0;}

.contents .block .cont .group_area .gp_block .gp_lab {width: 126px; font-size: 18px; font-weight: 600;}

.contents .block .cont .group_area .gp_block .gp_right {width: calc(100% - 126px);}

.contents .block .cont .group_area .gp_block .gp_right .select {width: 100%;}

.contents .block .cont .group_area .gp_block .gp_right .graph_area {position: relative; width: 100%; background: #B0B0B0; border-radius: 20px; height: 40px; overflow: hidden;}

.contents .block .cont .group_area .gp_block .gp_right .color_bar {position: absolute; background: #005288; width: 0; height: 100%; top: 0; left: 0;}

.contents .block .cont .group_area .gp_block .gp_right .status {position: absolute; font-size: 14px; font-weight: 600; color: #fff; top: 50%; left: 50%; transform: translate(-50%, -50%);}



.contents .block .cont .s_btn_area {text-align: center;}

.contents .block .cont .s_btn_area .s_btns {width: 220px; height: 80px; color: #fff; font-size: 18px; font-weight: 600; background: #005288; display: none;}

.contents .block .cont .s_btn_area .s_btns.on {display: inline-block;}

.contents .block .cont .s_btn_area .s_btns .icon {width: 20px; margin-top: 2px;}



.cs_table {width: 100%; border-top: 2px solid #005288;}

.cs_table .th {font-size: 18px; font-weight: 600; padding: 13px 0; box-sizing: border-box; border-bottom: 1px solid #005288;}

.cs_table .td {font-size: 14px; font-weight: 300; padding: 15px 0; border-bottom: 1px solid #D2D2D2; box-sizing: border-box;}



.cs_table .td2, .cs_table .td3, .cs_table .td4, .cs_table .td5, .cs_table .td6, .cs_table .td8 {font-family: 'SUITE', sans-serif;}





/*문의하기 팝업*/

.inqpop .top_area .i_h1 {font-size: 18px; font-weight: 600; width: calc(100% - 40px); text-align: left;}

.inqpop .gray_bg {background: #F8F8F8; border-radius: 12px; padding: 20px; box-sizing: border-box; margin-bottom: 30px;}

.inqpop .gray_bg .gb_block {margin-bottom: 20px;}

.inqpop .gray_bg .gb_block:last-child {margin-bottom: 0;}

.inqpop .gray_bg .gb_block .gb_left {font-size: 14px; font-weight: 600; width: 40%;}

.inqpop .gray_bg .gb_block .gb_right {font-size: 14px; font-weight: 600; width: 60%; text-align: right;}

.inqpop .gray_bg .gb_block .gb_right .mr20 {margin-right: 20px;}

.inqpop .sns_area {margin-bottom: 30px; text-align: center;}

.inqpop .sns_area .sns_box {margin-right: 60px;}

.inqpop .sns_area .sns_box:last-child {margin-right: 0;}

.inqpop .sns_area .sns_box img {width: 50px; margin: 0 auto;}

.inqpop .sns_area .sns_box .txt {font-size: 14px; font-weight: 600; margin-top: 10px;}

.inqpop .input_area {margin-bottom: 30px;}

.inqpop .input_area .inquiry {border: 1px solid #202020; box-sizing: border-box; height: 120px; font-size: 14px; font-weight: 300; padding: 10px; width: 100%;}

.inqpop .input_area .inquiry::placeholder {#808080}

/*문의하기 팝업*/





/* 로그인 */

.wrapper {padding: 60px 0; box-sizing: border-box;}

.form {background: #fff; box-shadow: 0 2px 6px rgba(0,0,0,0.16); border-radius: 24px; padding: 60px; box-sizing: border-box; text-align: center;}

.form .logo_area {margin-bottom: 30px;}

.form .logo_area .logo_box {width: 220px; height: 220px; margin: 0 auto;}

.form .logo_area .logo_box .logo {width: 100%;}



.form .input_area {width: 100%; margin-bottom: 60px;}

.form .input_area .mb10 {margin-bottom: 10px;}

.form .input_area .mb10:last-child {margin-bottom: 0; text-align: left;}

.form .input_area .input {width: 100%; height: 50px; padding: 0 20px; box-sizing: border-box; border: 1px solid #202020; font-size: 16px;}

.form .input_area .input::placeholder {font-size: 14px; color: #808080;}

.form .input_area .a_lab {font-size: 14px; font-weight: 500;}



.form .btn_area {margin-bottom: 20px;}

.form_btn {font-size: 18px; font-weight: 600; color: #fff; width: 400px; height: 50px; background: #005288;}

.form_btn:disabled {background: #C9C9C9}



.form .link_area .link_btn {margin-right: 20px; font-size: 18px; font-weight: 600; color: #005288; border: 1px solid #005288; box-sizing: border-box; width: calc((100% - 20px) / 2); height: 50px;}

.form .link_area .link_btn:last-child {margin-right: 0;}



.nt_box {margin-top: 30px; width: 100%; background: #fff; padding: 30px; box-sizing: border-box; border-radius: 24px; box-shadow: 0 2px 6px rgba(0,0,0,0.16);}

.nt_box .nt_title {margin-bottom: 10px;}

.nt_box .nt_title .nt_h1 {font-size: 24px; font-weight: 600; width: calc(100% - 30px);}

.nt_box .nt_title .more_btn {width: 30px; display: inline-block;}

.nt_box .nt_title .more_btn img {width: 100%;}

.nt_box .nt_ex .title {font-size: 14px; font-weight: 300; width: calc(100% - 94px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.nt_box .nt_ex .date {font-size: 14px; font-weight: 300; text-align: right; width: 94px; white-space: nowrap;}



/*공지사항*/

.sub_h1 {font-size: 36px; font-weight: 600; margin-bottom: 30px;}

.sub_page {width: 100%; background: #fff; padding: 36px 30px 88px; box-sizing: border-box; border-radius: 24px; box-shadow: 0 2px 6px rgba(0,0,0,0.16); min-height: 700px;}

.sub_page .all {font-size: 14px; font-weight: 600; margin-bottom: 25px;}

.sub_page .all .suite {margin: 0 4px 0 6px;}

.board {width: 100%; border-top: 2px solid #005288;}

.board tr {cursor: pointer;}

.board .th {border-bottom: 1px solid #005288; font-size: 18px; font-weight: 600; padding: 12px 0; box-sizing: border-box;}

.board .th1 {width: 11%;}

.board .th2 {width: 50%;}

.board .th3 {width: 12%;}

.board .th4 {width: 15%;}

.board .td {font-size: 14px; font-weight: 300; padding: 16px 0; box-sizing: border-box; text-align: center; border-bottom: 1px solid #D2D2D2; }

.board .td2 {text-align: left; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding-left: 5px; box-sizing: border-box;}

.board .td1, .board .td4 {font-family: 'SUITE', sans-serif;}



.board_sub {border-top: 2px solid #005288;}

.board_sub .td {font-size: 14px; font-weight: 300; padding: 16px 0; box-sizing: border-box; text-align: center; border-bottom: 1px solid #005288;}

.board_sub .td1, .board_sub .td4 {font-family: 'SUITE', sans-serif;}

.board_sub .td1 {width: 11%;}

.board_sub .td2 {width: 50%; text-align: left; padding-left: 5px; box-sizing: border-box;}

.board_sub .td3 {width: 12%;}

.board_sub .td4 {width: 15%;}

.sub_page .text_area {font-size: 14px; font-weight: 300; padding: 30px 0 60px; box-sizing: border-box;}



.pagination {text-align: center; margin-top: 30px;}

.pagination .page_btn {width: 30px; display: inline-block; vertical-align: middle;}

.pagination .page_wrap .page_a {color: #261500; font-size: 12px; font-weight: 300; font-family: 'SUITE', sans-serif; padding: 7.5px 0; display: inline-block; box-sizing: border-box; width: 30px; text-align: center;}

.pagination .page_wrap .page_a.on {color: #136CA6; font-weight: bold;}



.sub_page .btn_area {margin-top: 60px; text-align: center;}

.btn_area .btn_common {width: 180px; height: 50px; background: #005288; font-size: 18px; font-weight: 600; color: #fff;}



#join {height: 852px; position: relative;}

.form .j_h1 {font-size: 36px; font-weight: 600; margin-bottom: 60px;}

.form .j_ul {margin-bottom: 60px; width: 100%;}

.form .j_ul .j_li {width: calc((100% - 20px) / 2); margin-right: 20px; background: #E8E8E8; font-size: 18px; color: #C9C9C9; font-weight: 600; border-radius: 25px; padding: 14.5px 0; box-sizing: border-box; position: relative; cursor: pointer;}

.form .j_ul .j_li.on {background: #005288; color: #fff;}

.form .j_ul .j_li::after {content: ""; display: inline-block; width: 22px; height: 2px; position: absolute; top: 50%; right: 0; transform: translate(100%, -50%); background: #E8E8E8;}

.form .j_ul .j_li:last-child {margin-right: 0;}

.form .j_ul .j_li:last-child::after {display: none;}



.ag_table {width: 100%; border-top: 2px solid #005288; box-sizing: border-box; text-align: left;}

.ag_table .all_ag {border-bottom: 1px solid #005288; box-sizing: border-box; padding: 8px 0;}

.ag_table .ck_area {width: 50px; text-align: center;}

.ag_table .lab {width: calc(100% - 100px); font-size: 14px; font-weight: 600; text-align: left;}

.ag_table .arrow {width: 50px;}

.ag_table .term {border-bottom: 1px solid #D2D2D2; box-sizing: border-box;}



.btn_abs {position: absolute; bottom: 120px; left: 50%; transform: translateX(-50%); width: 400px;}



.sub_page .term_box {width: 100%; height: 578px; margin-bottom: 70px; font-size: 14px; font-weight: 300; line-height: 24px; overflow-y: scroll;}

.sub_page .term_box::-webkit-scrollbar {display: none;}

.sub_page .term_box {-ms-overflow-style: none; scrollbar-width: none;}



.form .i_block {margin-bottom: 20px; white-space: nowrap;}

.form .i_block:last-child {margin-bottom: 0;}

.form .i_block .lab {display: inline-block; vertical-align: middle; width: 130px; font-size: 18px; font-weight: 600; text-align: left;}

.form .i_block .i_wrap {width: calc(100% - 130px);}

.form .i_block .i_wrap .f_btn {background: #202020; color: #fff; width: 80px; height: 50px; margin-left: 10px;}

.form .i_block .i_wrap .input {border: 1px solid #202020; box-sizing: border-box; height: 50px; width: 100%; padding: 0 20px; box-sizing: border-box; font-size: 16px;}

.form .i_block .i_wrap .input::placeholder {font-size: 14px; color: #808080;}

.form .i_block .i_wrap .input.wid180 {width: 180px;}





/* 회선 관리 */

.right_ct .h1 {font-size: 36px; font-weight: 600; margin-bottom: 30px;}

.contents .top_area {margin-bottom: 20px;}

.contents .top_area .t_left {width: 50%;}

.contents .top_area .t_left .all {font-size: 14px; font-weight: 600;}

.contents .top_area .t_right {width: 50%; text-align: right;}

.contents .blue_btn {width: 80px; height: 30px; font-size: 14px; font-weight: 600; color: #005288; border: 1px solid #005288; margin-right: 10px;}

.contents .blue_btn:last-child {margin-right: 0;}



.line_table {border-top: 2px solid #005288; width: 100%; white-space: nowrap; margin-bottom: 20px;}

.line_table .th {border-bottom: 1px solid #005288; padding: 13px 0; font-size: 18px; font-weight: 600;}

.line_table .th1 {width: 6%;}

.line_table .th2 {width: 11%;}

.line_table .th3 {width: 9%;}

.line_table .th4 {width: 14%;}

.line_table .th6 {width: 13%;}

.line_table .th7 {width: 14%;}



.line_table .td {font-size: 14px; font-weight: 300; text-align: center; border-bottom: 1px solid #D2D2D2; padding: 14px 0; box-sizing: border-box;}

.line_table .td2 {font-family: 'SUITE', sans-serif;}

.line_table .td4 {font-family: 'SUITE', sans-serif;}

.line_table .td6 {font-family: 'SUITE', sans-serif;}

.line_table .td7 .open_listpop {font-family: 'SUITE', sans-serif; text-decoration: underline; padding: 10px; box-sizing: border-box;}



.line_table .td5 .select {width: 180px;}

.blue_common {width: 80px; height: 40px; background: #005288; color: #fff; font-size: 14px; font-weight: 600; margin-left: 4px;}



.listpop .white_bg {height: 840px; max-height: calc(100vh - 120px);}

.listpop .i_h1 {font-size: 18px; font-weight: 600; width: calc(100% - 40px); text-align: left;}

.listpop .txt_area {margin-bottom: 30px; height: calc(100% - 135px);}

.listpop .result {background: #404040; border-radius: 12px; padding: 22px 20px; box-sizing: border-box; margin-bottom: 30px;}

.listpop .result .r_left {width: 40%; font-size: 18px; text-align: left; color: #fff;}

.listpop .result .r_right {width: 60%; text-align: right; font-size: 18px; font-weight: 600; color: #fff;}

.listpop .scroll_area {background: #F8F8F8; padding: 20px; box-sizing: border-box; height: calc(100% - 97px); overflow-y: scroll; border-top: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2; box-sizing: border-box;}

.listpop .scroll_area::-webkit-scrollbar {display: none;}

.listpop .scroll_area {-ms-overflow-style: none; scrollbar-width: none;}



.listpop .scroll_area .sc_block {margin-bottom: 22px;}

.listpop .scroll_area .sc_block:last-child {margin-bottom: 0;}

.listpop .scroll_area .sc_block .left {font-size: 14px; font-weight: 300; width: 50%; text-align: left;}

.listpop .scroll_area .sc_block .right {font-size: 14px; font-weight: 600; width: 50%; text-align: right;}





/* 통화 내역 */

.c_filter {margin-bottom: 60px;}

.c_filter .ft_block {margin-bottom: 30px;}

.c_filter .ft_block:last-child {margin-bottom: 0;}

.c_filter .ft_block .lab {width: 160px; font-size: 18px; font-weight: 600;}

.c_filter .ft_block .right {width: calc(100% - 160px);}

.c_filter .ft_block .wid100 {width: 100%;}

.c_filter .ft_block .sel2 {width: 180px; margin-right: 10px;}

.c_filter .ft_block .date_wrap {margin-right: 10px; white-space: nowrap;}

.c_filter .ft_block .date_wrap .date_box .date {width: 160px; height: 40px; font-size: 14px; font-weight: 600; padding: 0 10px; box-sizing: border-box; border: 1px solid #202020; box-sizing: border-box; background: url("../img/select_down.png") no-repeat center right / 28px; cursor: pointer;}

.c_filter .ft_block .date_wrap .gap {width: 30px; font-size: 14px; font-weight: 600; text-align: center;}

.c_filter .ft_block .blue_btn {width: 150px; height: 40px; background: #005288; color: #fff; font-size: 18px; font-weight: 300;}



.call_table {width: 100%; border-top: 2px solid #005288; margin-bottom: 20px;}

.call_table .th {font-size: 18px; font-weight: 600; border-bottom: 1px solid #005288; padding: 13px 0; box-sizing: border-box;}

.call_table .td {font-size: 14px; font-weight: 300; text-align: center; padding: 16px 0; box-sizing: border-box; border-bottom: 1px solid #D2D2D2;}

.call_table .td1, .call_table .td2, .call_table .td3, .call_table .td6, .call_table .td7 {font-family: 'SUITE', sans-serif;}



/*개별실적*/

.eachpop .white_bg {width: 1000px; height: 957px; max-height: calc(100vh - 120px);}

.eachpop .top_area .i_h1 {font-size: 18px; font-weight: 600; width: calc(100% - 40px); text-align: left;}

.eachpop .all_mg {margin-bottom: 20px;}

.eachpop .all_mg .t_left {width: 40%; font-size: 14px; font-weight: 600; text-align: left;}

.eachpop .all_mg .t_right {width: 60%; text-align: right;}

.eachpop .all_mg .t_right .blue_btn {width: 80px; height: 30px; font-size: 14px; font-weight: 600; margin-right: 10px; color: #005288; border: 1px solid #005288; box-sizing: border-box;}

.eachpop .all_mg .t_right .blue_btn:last-child {margin-right: 0;}



.eachpop .txt_area {height: calc(100% - 163px); overflow: hidden; margin: 0; padding-bottom: 30px; box-sizing: border-box;}

.eachpop .view_area {height: calc(100% - 135px); overflow-y: scroll; margin-bottom: 20px;}

.eachpop .t_title {width: 100%; white-space: nowrap;}

.eachpop .t_title .th {font-size: 18px; font-weight: 600; border-top: 2px solid #005288; border-bottom: 1px solid #005288; padding: 13px 0; box-sizing: border-box; background: #fff; display: inline-block; vertical-align: middle; width: calc((100% - 33%) / 9);}

.eachpop .t_title .th10, .eachpop .t_title .th11, .eachpop .t_title .th12 {width: 11%;}



.epop_table {width: 100%; table-layout:inherit;}

.epop_table .td {font-size: 14px; font-weight: 300; text-align: center; padding: 16px 0; box-sizing: border-box; border-bottom: 1px solid #D2D2D2; font-family: 'SUITE', sans-serif; width: calc((100% - 33%) / 9);}

.epop_table .td1 {font-family: 'Pretendard', sans-serif;}

.eachpop .td10, .eachpop .td11, .eachpop .td12 {width: 11%;}



.eachpop .view_area::-webkit-scrollbar {display: none;}

.eachpop .view_area {-ms-overflow-style: none;/* 인터넷 익스플로러 */scrollbar-width: none;/* 파이어폭스 */}





.eachpop .pagination {margin: 0; margin-bottom: 20px;}

.sticky {position: sticky; top: 0;}

.eachpop .p_btn_area {text-align: center;}

.eachpop .p_btn {max-width: 360px; margin: 0 auto;}



/*휴무일 선택*/

.calpop .txt_area {margin-bottom: 30px;}

.calpop .top_area {position: relative;}

.calpop .top_area .c_h1 {font-size: 24px; font-weight: 600; width: 100%; margin-bottom: 30px; text-align: center; padding: 5px 0; box-sizing: border-box;}

.calpop .close_btn {position: absolute; right: 0; top: 0;}

.calpop .mon_sel {margin-bottom: 10px;}

.calpop .mon_sel .mon_btn {width: 30px;}

.calpop .mon_sel .mon {font-size: 18px; font-weight: bold; margin: 0 8px;}

.calpop .calendar {border: 1px solid #202020; width: 100%;}

.calpop .calendar .th {font-size: 12px; font-weight: 500; padding: 16px 0; box-sizing: border-box; border-bottom: 1px solid #202020;}

.calpop .calendar .td {font-size: 12px; font-weight: 300; font-family: 'SUITE', sans-serif; padding: 15px 0; box-sizing: border-box; position: relative; cursor: pointer; text-align: center;}

.calpop .calendar .td::after {content: ""; width: 20px; height: 20px; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1; background: transparent;}

.calpop .calendar .td.gray {color: #ECECEC;}

.calpop .calendar .td.red {color: #FF0000;}

.calpop .calendar .td.today::after {display: inline-block; background: #E1E1E1;}

.calpop .calendar .td.on {color: #fff;}

.calpop .calendar .td.on::after {display: inline-block; background: #005288;}





/* DB관리 */

.black_form .bf_left .db_lab {width: 142px; font-size: 18px; font-weight: 600; color: #fff;}

.black_form .bf_left .auto_wrap {display: none; margin-right: 30px;}

.black_form .bf_left .auto_wrap.on {display: inline-block;}

.black_form .bf_left .wrap {margin-right: 30px;}

.black_form .bf_left .wrap:last-child {margin-right: 0;}

.black_form .bf_left .wrap .lab {font-size: 18px; font-weight: 300; color: #fff; display: inline-block; vertical-align: middle; margin-left: 10px;}

.black_form .bf_left .wrap .text {width: 362px; height: 40px; padding: 0 10px; box-sizing: border-box; font-size: 14px;}

.black_form .bf_left .wrap .text::placeholder {color: #808080;}

#db_add .bf_left {width: calc(100% - 130px);}

#db_add .bf_right {width: 130px;}

#db_add .bf_right .blue_btn {width: 130px; height: 40px;}

.contents .top_area .t_right .black_btn {width: 80px; height: 30px; border: 1px solid #202020; font-size: 14px; font-weight: 600; margin-right: 10px;}

.contents .top_area .t_right .black_btn:last-child {margin-right: 0;}



#db_manage .top_area .t_right .black_btn {width: 120px;}



.db_table {width: 100%; border-top: 2px solid #005288; margin-bottom: 20px;}

.db_table .th {border-bottom: 1px solid #005288; font-size: 18px; font-weight: 600; padding: 12px 0; box-sizing: border-box;}

.db_table .th1 {width: 10%;}

.db_table .th2 {width: 12%;}

.db_table .th4, .db_table .th5, .db_table .th6 {width: 12%;}

.db_table .td {padding: 15px 0; box-sizing: border-box; border-bottom: 1px solid #D2D2D2; text-align: center; font-size: 14px; font-weight: 300;}

.db_table .td .p_btn {width: 80px; height: 40px; background: #005288; color: #fff; font-size: 14px; font-weight: 600; border: 1px solid #005288;}

.db_table .td .m_btn {width: 70px; height: 40px; color: #fff; font-size: 14px; font-weight: 600; border: 1px solid #005288; color: #005288;}

.db_table .td1, .db_table .td2 {font-family: 'SUITE', sans-serif;}

.db_table .td3 {font-size: 0;}

.db_table .td3 .mr10 {margin-right: 10px;}

.db_table .td3 .mr10:last-child {margin-right: 0;}

.db_table .td3 .p_name {width: 160px; height: 40px; border: 1px solid #202020; box-sizing: border-box; font-size: 14px; font-weight: 600; padding: 0 10px;}



/*프로젝트 관리 팝업*/

.propop .i_h1 {font-size: 18px; font-weight: 600; text-align: left; width: calc(100% - 40px);}

.propop .p_block {margin-bottom: 30px;}

.propop .p_block:last-child {margin-bottom: 0;}

.propop .p_block:first-child {margin-bottom: 38px;}

.propop .p_block .pro_lab {font-size: 14px; font-weight: 600; width: 50%; text-align: left; white-space: nowrap;}

.propop .p_block .wid50 {width: 50%;}

.propop .p_block .wid50 .wrap {width: 50%; text-align: left;}

.propop .p_block .wid50 .wrap .a_lab {font-size: 18px; font-weight: 300; margin-left: 10px;}

.propop .p_block .input {width: 50%; height: 40px; box-sizing: border-box; border: 1px solid #202020; font-size: 14px; padding: 0 10px;}

.propop .ifauto {display: none;}

.propop .ifauto.on {display: block;}



/*연결 DB 관리 팝업*/

.condb .i_h1 {font-size: 18px; font-weight: 600; text-align: left; width: calc(100% - 40px);}

.condb .db_wrap {background: #404040; border-radius: 12px; padding: 20px; box-sizing: border-box; margin-bottom: 30px;}

.condb .db_wrap .db_line {margin-bottom: 10px;}

.condb .db_wrap .db_line:last-child {margin-bottom: 0;}

.condb .db_wrap .db_line .left {width: 50%; text-align: left; font-size: 18px; font-weight: 600; color: #fff;}

.condb .db_wrap .db_line .right {width: 50%; text-align: right;}

.condb .db_wrap .db_line .right .db_btn {width: 70px; background: #fff; border-radius: 12px; height: 24px; font-size: 14px; font-weight: 600; margin-right: 10px;}

.condb .db_wrap .db_line .right .db_btn:last-child {margin-right: 0;}

.condb .add_wrap .add_btn {width: 100%; height: 44px; border: 1px solid #202020; font-size: 14px; font-weight: 600;}



/*연결된 회선 리스트*/

.conline .white_bg {height: 840px; max-height: calc(100vh - 120px);}

.conline .i_h1 {font-size: 18px; font-weight: 600; width: calc(100% - 40px); text-align: left;}

.conline .txt_area {margin-bottom: 30px; height: calc(100% - 135px);}

.conline .result {background: #404040; border-radius: 12px; padding: 22px 20px; box-sizing: border-box; margin-bottom: 30px;}

.conline .result .r_left {width: 50%; font-size: 18px; text-align: left; color: #fff;}

.conline .result .r_right {width: 50%; text-align: right; font-size: 18px; font-weight: 600; color: #fff;}

.conline .scroll_area {background: #F8F8F8; padding: 20px; box-sizing: border-box; height: calc(100% - 97px); overflow-y: scroll; border-top: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2; box-sizing: border-box;}

.conline .scroll_area::-webkit-scrollbar {display: none;}

.conline .scroll_area {-ms-overflow-style: none; scrollbar-width: none;}



.conline .scroll_area .sc_block {margin-bottom: 22px;}

.conline .scroll_area .sc_block:last-child {margin-bottom: 0;}

.conline .scroll_area .sc_block .left {font-size: 14px; font-weight: 300; width: 50%; text-align: left;}

.conline .scroll_area .sc_block .right {font-size: 14px; font-weight: 600; width: 50%; text-align: right;}





/*연결된 회선 리스트*/

.blacklist .add_blacklist {margin-bottom: 30px;}

.blacklist .add_blacklist .input {width: calc(100% - 90px); border: 1px solid #202020; height: 50px; padding: 0 20px; box-sizing: border-box; font-size: 14px;}

.blacklist .add_blacklist .input::placeholder {color: #808080;}

.blacklist .add_blacklist .f_btn {width: 80px; height: 50px; background: #202020; color: #fff; font-size: 14px; font-weight: 600; margin-left: 10px; display: none;}

.blacklist .add_blacklist .f_btn.on {display: inline-block;}

.blacklist .white_bg {height: 840px; max-height: calc(100vh - 120px);}

.blacklist .i_h1 {font-size: 18px; font-weight: 600; width: calc(100% - 40px); text-align: left;}

.blacklist .txt_area {margin-bottom: 30px; height: calc(100% - 135px);}



.blacklist .scroll_area {background: #F8F8F8; padding: 20px; box-sizing: border-box; height: calc(100% - 85px); overflow-y: scroll; border-top: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2; box-sizing: border-box;}

.blacklist .scroll_area::-webkit-scrollbar {display: none;}

.blacklist .scroll_area {-ms-overflow-style: none; scrollbar-width: none;}



.blacklist .scroll_area .sc_block {margin-bottom: 20px;}

.blacklist .scroll_area .sc_block:last-child {margin-bottom: 0;}

.blacklist .scroll_area .sc_block .sc1 {font-size: 14px; font-weight: 300; width: 22%; text-align: left;}

.blacklist .scroll_area .sc_block .sc2 {font-size: 14px; font-weight: 600; width: 33%; white-space: nowrap; text-align: left;}

.blacklist .scroll_area .sc_block .sc3 {width: 45%; text-align: right;}

.blacklist .scroll_area .sc_block .sc3 .sc_btn {width: 50px; height: 24px; background: #fff; border: 1px solid #202020; border-radius: 12px; font-size: 14px; font-weight: 600; margin-right: 10px;}

.blacklist .scroll_area .sc_block .sc3 .sc_btn:last-child {margin-right: 0;}



/*작업내역*/

.worklist .white_bg {width: 1160px; height: 935px; max-height: calc(100vh - 120px);}

.worklist .top_area .i_h1 {font-size: 18px; font-weight: 600; width: calc(100% - 40px); text-align: left;}



.worklist .view_area {height: 100%; overflow-y: scroll;}

.worklist .view_area::-webkit-scrollbar {display: none;}

.worklist .view_area {-ms-overflow-style: none;scrollbar-width: none;}



.worklist .all_mg {margin-bottom: 20px;}

.worklist .all_mg .t_left {width: 40%; font-size: 14px; font-weight: 600; text-align: left;}

.worklist .all_mg .t_right {width: 60%; text-align: right;}

.worklist .all_mg .t_right .blue_btn {width: 80px; height: 30px; font-size: 14px; font-weight: 600; color: #005288; border: 1px solid #005288; box-sizing: border-box;}

.worklist .all_mg .t_right .black_btn {width: 80px; height: 30px; font-size: 14px; font-weight: 600; margin-right: 10px; color: #202020; border: 1px solid #202020; box-sizing: border-box;}



.worklist .t_title {white-space: nowrap; border-top: 2px solid #005288; border-bottom: 1px solid #005288;}

.worklist .t_title .th {font-size: 18px; font-weight: 600; padding: 14px 0; box-sizing: border-box; display: inline-block; vertical-align: middle;}

.worklist .t_title .th1 {width: 7%;}

.worklist .t_title .th2 {width: 12%;}

.worklist .t_title .th3 {width: 12%;}

.worklist .t_title .th4 {width: 20%;}

.worklist .t_title .th5 {width: 14%;}

.worklist .t_title .th6 {width: 11%;}

.worklist .t_title .th7 {width: 8%;}

.worklist .t_title .th8 {width: 8%;}

.worklist .t_title .th9 {width: 8%;}



.worklist .wl_table {width: 100%;}

.worklist .wl_table .td {font-size: 14px; font-weight: 300; border-bottom: 1px solid #D2D2D2; padding: 15px 0; box-sizing: border-box; text-align: center;}



.worklist .wl_table .td1 {width: 7%;}

.worklist .wl_table .td2 {width: 12%;}

.worklist .wl_table .td3 {width: 12%;}

.worklist .wl_table .td4 {width: 20%;}

.worklist .wl_table .td5 {width: 14%;}

.worklist .wl_table .td6 {width: 11%;}

.worklist .wl_table .td7 {width: 8%;}

.worklist .wl_table .td8 {width: 8%;}

.worklist .wl_table .td9 {width: 8%;}



.worklist .wl_table .td1, .worklist .wl_table .td2, .worklist .wl_table .td8 {font-family: 'SUITE', sans-serif;}

.worklist .wl_table .td4 {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}



.worklist .txt_area {height: calc(100% - 110px); overflow: hidden; margin: 0; padding-bottom: 30px; box-sizing: border-box;}

.worklist .view_area {height: calc(100% - 125px); margin-bottom: 20px;}



.worklist .p_btn_area {text-align: center;}

.worklist .p_btn {max-width: 360px; margin: 0 auto;}





/*녹취파일 관리*/

#add_project .bf_left {width: calc(100% - 130px);}

#add_project .bf_left .bf_wrap .bf_lab {font-size: 18px;}

#add_project .input {width: 592px;}

#add_project .bf_right {width: 130px;}

#add_project .bf_right .blue_btn {width: 130px;}



.rc_table {width: 100%; border-top: 2px solid #005288; margin-bottom: 20px;}

.rc_table .th {padding: 10px 0; font-size: 18px; font-weight: 600; box-sizing: border-box; border-bottom: 1px solid #005288;}

.rc_table .th1 {width: 6%;}

.rc_table .th2 {width: 10%;}

.rc_table .th3 {width: 29%;}

.rc_table .th4 {width: 55%;}

.rc_table .td {padding: 15px 0; font-size: 14px; font-weight: 300; box-sizing: border-box; text-align: center; border-bottom: 1px solid #D2D2D2;}

.rc_table .td2 {font-family: 'SUITE', sans-serif;}

.rc_table .td4 {white-space: nowrap; font-size: 0;}

.rc_table .td4 .namebox {width: 250px; height: 40px; border: 1px solid #202020; background: #E9E9E9; padding: 0 10px; box-sizing: border-box;}

.rc_table .td4 .rc_btn {margin-left: 10px; width: 80px; height: 40px; background: #005288; color: #fff; font-size: 14px; font-weight: 600;}



/*녹취파일 팝업들*/

.rc_pop .top_area .i_h1 {font-size: 18px; font-weight: 600; width: calc(100% - 40px); text-align: left;}

.rc_pop .rc_wrap .rc_block {margin-bottom: 30px; text-align: left;}

.rc_pop .rc_wrap .rc_block:last-child {margin-bottom: 0;}

.rc_pop .rc_wrap .rc_block .r_lab {width: 100px; font-size: 14px; font-weight: 600;}

.rc_pop .rc_wrap .rc_block .right {width: calc(100% - 100px); white-space: nowrap;}

.rc_pop .rc_wrap .rc_block .right .select {width: 100%; font-weight: 600; color: #202020;}

.rc_pop .rc_wrap .rc_block .right .file {display: none;}

.rc_pop .rc_wrap .rc_block .right .input {width: 170px; height: 40px; background: #E9E9E9; border: 1px solid #202020; padding: 0 10px; box-sizing: border-box;}

.rc_pop .rc_wrap .rc_block .right .f_lab {width: 80px; text-align: center; font-size: 14px; font-weight: 600; background: #005288; color: #fff; padding: 12px 0; box-sizing: border-box; margin-left: 10px;}





/* 통화 설정 */

.set_block {margin-bottom: 30px;}

.set_block:last-child {margin-bottom: 0;}

.set_block .set_h2 {margin-bottom: 30px; font-size: 24px; font-weight: 600;}

.set_block .line_wrap {margin-bottom: 30px;}

.set_block .line_wrap .set_line {margin-bottom: 30px;}

.set_block .line_wrap .set_line:last-child {margin-bottom: 0;}

.set_block .line_wrap .set_line .set_lab {width: 337px; font-size: 18px; font-weight: 600;}

.set_block .line_wrap .set_line .set_lab.pt10 {padding-top: 10px; box-sizing: border-box;}

.set_block .line_wrap .set_line .input_wrap {width: calc(100% - 337px); }

.set_block .line_wrap .set_line .input_wrap .input {width: 302px;height: 40px; font-size: 14px; padding: 0 10px; border: 1px solid #202020; box-sizing: border-box;}

.set_block .line_wrap .set_line .input_wrap .input::placeholder {color: #808080;}

.set_block .line_wrap .set_line .input_wrap .auto_time {width: calc(100% - 100px);} 

.set_block .line_wrap .set_line .input_wrap .set_btn {width: 80px; height: 40px; margin-left: 20px; background: #005288; color: #fff; font-size: 14px; font-weight: 600;}

.set_block .line_wrap .set_line .input_wrap .ck_area {margin-top: 17px;}

.set_block .line_wrap .set_line .input_wrap .i_lab {font-size: 14px; font-weight: 600; padding-left: 10px; box-sizing: border-box;}

.set_block .line_wrap .set_line .input_wrap .ck_wrap {width: 118px;}

.set_block .line_wrap .set_line .input_wrap .ck_wrap .i_lab {width: calc(100% - 30px);}

.set_block .line_wrap .set_line .input_wrap .input.black {background: #202020; color: #fff;}



.set_block .gray_bg {background: #F5F5F5; border-radius: 12px; text-align: center; padding: 20px 30px; box-sizing: border-box;}

.set_block .gray_bg .label {font-size: 14px; font-weight: 600; padding-left: 10px; box-sizing: border-box;}

.set_block .gray_bg .left {width: 50%; text-align: left;}

.set_block .gray_bg .left .set_h3 {font-size: 18px; font-weight: 600;}

.set_block .gray_bg .right {width: 50%; text-align: right;}





/* 내 정보 수정 */

.my_block {margin-bottom: 60px; padding: 30px 0 0 30px; box-sizing: border-box;}

.my_block:last-child {margin-bottom: 0;}

.my_block .my_h2 {margin-bottom: 30px; font-size: 24px; font-weight: 600;}

.my_block .line_wrap {margin-bottom: 60px;}

.my_block .my_line {margin-bottom: 30px;}

.my_block .my_line:last-child {margin-bottom: 0;}

.my_block .my_line .my_lab {display: inline-block; vertical-align: middle; width: 230px; font-size: 18px; font-weight: 600;}

.my_block .my_line .input {display: inline-block; vertical-align: middle; width: calc(100% - 230px); border: 1px solid #202020; height: 40px; padding: 0 10px; box-sizing: border-box;}

.my_block .my_line .readonly {background: #E8E8E8;}

.my_block .btn_area {text-align: center;}



























